body {
  background: linear-gradient(0deg, #fffbf0, #f4debd);
  background-attachment: fixed; /*both background attachment and repeat prevents gradient background from cutting off at the bottom*/
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 8rem 15%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

form {
  margin: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

label {
  color: #907c6c;
}

/* first 2 labels */
form > label:first-child,
label:nth-child(n + 2) {
  font-weight: bold;
}

input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

input[type="email"],
input[type="text"] {
  background-color: #fffbf0;
  height: 3rem;
  width: 20rem;
  margin: 0.5rem 0 1rem 0;
}

input[type="email"]:focus,
input[type="text"]:focus {
  background-color: transparent;
  border-bottom: 1px solid #000;
  border-radius: 0;
  outline: none;
}

input[type="submit"] {
  color: #fff;
  background-color: #907c6c;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #7e5f46;
}

input[type="checkbox"] {
  background-color: #fffbf0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.15s;
}

input[type="checkbox"]:checked {
  color: #000;
}

input[type="checkbox"]:after {
  color: #000;
  font-size: 15px;
  font-weight: 900;
  content: "\2714";
  display: none;
}

.checkbox {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 1rem 0;
}

.checkbox label input {
  margin-right: 5px;
}

.new-user label {
  margin-right: 5px;
}

.border-line {
  font-weight: bold;
  overflow: hidden;
}

.border-line:before,
.border-line:after {
  height: 1px;
  width: 50%;
  content: "";
  border-bottom: 2px solid #000;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.border-line:before {
  right: 0.5em;
  margin-left: -50%;
}

.border-line:after {
  left: 0.5em;
  margin-right: -50%;
}

.border-line,
.new-user {
  text-align: center;
  margin: 1rem 0;
}

a {
  color: #907c6c;
  font-weight: bold;
}

#google-login {
  margin: 0.5rem 0 1rem 0;
  display: grid;
  justify-content: center;
}
